{% extends 'base/base.html' %} <!-- Наследует с  базового шаблона -->
<!-- (можно переопределить в дочерних шаблонах) -->
{% block title %}Число ПИ{% endblock %} <!-- Заголовок страницы -->
{% block individual_style %}
<style>
    p{
        color: orange;
    }


</style>
{% endblock %}
<!-- Индивидуальный стиль страницы. Вставьте блок в нужную страницу и в него тег <style></style> -->
{% block body %}
<div>
    <h1>История числа ПИ</h1>
    <p>Число пи — это отношение длины окружности к ее диаметру. Обозначается оно буквой греческого алфавита π. Если записать это отношение математическими символами, то выглядит оно так: π = C/d, где C — это длина окружности, а d — диаметр окружности. То есть π — это результат деления длины окружности на ее диаметр. Но само по себе число пи не является каким-то параметром окружности. Это математическая постоянная, или константа (то есть неизменная), которая нужна для расчета определенных данных. Например, число пи необходимо, чтобы посчитать площадь круга.</p>
</div>




{% endblock %}